{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block content %}

  <h1 class="govuk-heading-xl">Select your address</h1>

  <form method="post">

    {{ govukSelect({
      id: "address",
      name: "address",
      classes: "govuk-!-width-three-quarters",
      label: {
        text: "Address"
      },
      items: model.uprnAddresses
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button",
      name:"addressFound",
      value:"yes",
      preventDoubleClick: true
    }) }}

  </form>

  <form method="post">

    <input type="hidden" name="address" value="0">
    {{ govukButton({
      text: "Address not found",
      classes: "govuk-button--secondary",
      name:"addressFound",
      value:"no",
      preventDoubleClick: true
    }) }}

  </form>

{% endblock %}
