{% extends "_base.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% block content %}
  <h1 class="govuk-heading-xl">You are not eligible to use traps</h1>

  <p class="govuk-body">If you have been convicted of a wildlife crime, you are not eligible to register to use traps under a General Licence. If you are unable to use the General Licence you can still apply for an individual licence, email the NatureScot Licensing Team for further information.</p>
  <p class="govuk-body">
      Email:<br>
    <strong class="govuk-!-font-weight-bold">
      <a class="govuk-link" href="mailto:licensing@nature.scot">licensing@nature.scot</a>
    </strong>
  </p>
  {{ govukAccordion({
      id: "crimeExplanations",
      items: [
        {
          heading: {
            text: "What is a wildlife crime?"
          },
          content: {
            html: '' +
              '<p class="govuk-body">' +
              '  "Any offence under' +
              '  the Wildlife &amp; Countryside Act 1981,' +
              '  the Conservation (Natural Habitats &amp;c.) Regulations 1994,' +
              '  the Protection of Badgers Act 1992,' +
              '  the Protection of Wild Mammals (Scotland) Act 2002,' +
              '  Deer (Scotland) Act 1996,' +
              '  Agriculture (Scotland) Act 1948,' +
              '  the Animal Health &amp; Welfare (Scotland) Act 2006,' +
              '  the Protection of Animals (Scotland) Act 1912' +
              '  and' +
              '  the Wild Mammals (Protection) Act 1996' +
              '  (all as amended).' +
              '</p>'
          },
          expanded: false
        },
        {
          heading: {
            text: "When would a conviction apply?"
          },
          content: {
            html: '<p class="govuk-body">If you were convicted of a wildlife crime ' +
              'on or after 1 January 2015. Unless, in respect of that offence, ' +
              'you are rehabilitated (Rehabilitation of Offenders Act 1974) ' +
              'and the conviction is spent, or a court has discharged you absolutely.' +
              '</p>'
          },
          expanded: false
        }
      ]
    })}}
{% endblock %}
