{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {% if model.detailsError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your full name",
          href: "#full-name-error"
        } if model.nameError,
        {
          text: "Enter your phone number",
          href: "#phone-number-error"
        } if model.phoneError,
        {
          text: "Enter your email address",
          href: "#email-address-error"
        } if model.emailError
      ]
    }) }}
  {% endif %}

  <form method="post">

    {% call govukFieldset({
      legend: {
        text: "What are your details?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

    {{ govukInput({
      label: {
        text: "Full name (MUST be a named individual)"
      },
      classes: "govuk-!-width-one-half",
      id: "full-name",
      name: "fullName",
      value: model.fullName,
      errorMessage: {
        text: "Enter your full name"
      } if model.nameError,
      autocomplete: "name",
      attributes: {
        spellcheck: "false"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Email address"
      },
      classes: "govuk-!-width-one-half",
      id: "email-address",
      name: "emailAddress",
      value: model.emailAddress,
      errorMessage: {
        text: "Enter your email address"
      } if model.emailError,
      autocomplete: "email"
    }) }}

    {{ govukInput({
      label: {
        text: "Telephone number"
      },
      classes: "govuk-!-width-one-half",
      id: "phone-number",
      name: "phoneNumber",
      value: model.phoneNumber,
      errorMessage: {
        text: "Enter your phone number"
      } if model.phoneError,
      type: "tel",
      autocomplete: "tel"
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}

  </form>

{% endblock %}
