{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set nameErrors %}
  {% if model.nameError %}
    Enter your full name
    {% elif model.invalidCharsName %}
    Full name must only include letters a to z, and special characters such as hyphens, spaces and apostrophes
  {% endif %}
{% endset -%}

{% set phoneNumberErrors %}
  {% if model.phoneError %}
    Enter your phone number
    {% elif model.invalidCharsPhoneNumber %}
    Telephone number must only include letters a to z, and special characters such as hyphens, spaces and apostrophes
  {% endif %}
{% endset -%}

{% block content %}

  {% if model.detailsError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your full name",
          href: "#full-name-error"
        } if model.nameError,
        {
          text: "Enter your phone number",
          href: "#phone-number-error"
        } if model.phoneError,
        {
          text: "Enter your email address",
          href: "#email-address-error"
        } if model.emailError,
        {
          text: "Full name must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#full-name-error"
        } if model.invalidCharsName,
        {
          text: "Telephone number must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#phone-number-error"
        } if model.invalidCharsPhoneNumber
      ]
    }) }}
  {% endif %}

  <form method="post">

    {% call govukFieldset({
      legend: {
        text: "What are your details?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

    {{ govukInput({
      label: {
        text: "Full name"
      },
      hint: {
        text: "As it appears on official documents"
      },
      classes: "govuk-!-width-one-half",
      id: "full-name",
      name: "fullName",
      value: model.fullName,
      errorMessage: {
        html: nameErrors
      } if model.nameError or model.invalidCharsName,
      autocomplete: "name",
      attributes: {
        spellcheck: "false"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Email address"
      },
      classes: "govuk-!-width-one-half",
      id: "email-address",
      name: "emailAddress",
      value: model.emailAddress,
      errorMessage: {
        text: "Enter your email address"
      } if model.emailError,
      autocomplete: "email"
    }) }}

    {{ govukInput({
      label: {
        text: "Telephone number"
      },
      classes: "govuk-!-width-one-half",
      id: "phone-number",
      name: "phoneNumber",
      value: model.phoneNumber,
      errorMessage: {
          html: phoneNumberErrors
        } if model.phoneError or model.invalidCharsPhoneNumber,
      type: "tel",
      autocomplete: "tel"
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}

  </form>

{% endblock %}
