{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set postcodeErrors %}
  {% if model.postcodeError %}
    <p>Enter the postcode</p>
  {% elif model.invalidPostcodeError %}
    <p>Enter a valid postcode</p>
  {% endif %}
{% endset -%}

{% set addressLine1Errors %}
  {% if model.addressLine1Error %}
    <p>Enter the building and street</p>
  {% elif model.invalidCharAddressLine1 %}
    <p>Address line 1 must only include letters a to z, and special characters such as hyphens, spaces and apostrophes</p>
  {% endif %}
{% endset -%}

{% set addressTownErrors %}
  {% if model.townError %}
    <p>Enter the town or city</p>
  {% elif model.invalidCharAddressTown %}
    <p>Town or city must only include letters a to z, and special characters such as hyphens, spaces and apostrophes</p>
  {% endif %}
{% endset -%}

{% set addressCountyErrors %}
  {% if model.countyError %}
    <p>Enter the county</p>
  {% elif model.invalidCharAddressCounty %}
    <p>County must only include letters a to z, and special characters such as hyphens, spaces and apostrophes</p>
  {% endif %}
{% endset -%}

{% block content %}

  {% if model.addressError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter the building and street",
          href: "#addressLine1"
        } if model.addressLine1Error,
        {
          text: "Enter the town or city",
          href: "#addressTown"
        } if model.townError,
        {
          text: "Enter the county",
          href: "#addressCounty"
        } if model.countyError,
        {
          text: "Enter the postcode",
          href: "#addressPostcode"
        } if model.postcodeError,
        {
          text: "Enter a valid postcode",
          href: "#addressPostcode"
        } if model.invalidPostcodeError,
        {
          text: "Address line 1 must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#addressLine1"
        } if model.invalidCharAddressLine1,
        {
          text: "Address line 2 must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#addressLine2"
        } if model.invalidCharAddressLine2,
        {
          text: "Town or city must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#addressTown"
        } if model.invalidCharAddressTown,
        {
          text: "County must only include letters a to z, and special characters such as hyphens, spaces and apostrophes",
          href: "#addressCounty"
        } if model.invalidCharAddressCounty
      ]
    })}}
  {% endif %}


  <h1 class="govuk-heading-xl">What is your address?</h1>

  <form method="post">

    {{ govukInput({
      label: {
        text: "Building and street"
      },
      id: "addressLine1",
      name: "addressLine1",
      classes: "govuk-!-width-two-thirds",
      value: model.addressLine1,
      spellcheck: false,
      autocomplete: "address-line1",
      errorMessage: {
        html: addressLine1Errors
      } if model.addressLine1Error or model.invalidCharAddressLine1
    }) }}

    {{ govukInput({
      id: "addressLine2",
      name: "addressLine2",
      classes: "govuk-!-width-two-thirds",
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2</span>'
      },
      value: model.addressLine2,
      spellcheck: false,
      autocomplete: "address-line2",
      errorMessage: {
        text: "Address line 2 must only include letters a to z, and special characters such as hyphens, spaces and apostrophes"
      } if model.invalidCharAddressLine2
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      id: "addressTown",
      name: "addressTown",
      classes: "govuk-!-width-one-half",
      value: model.addressTown,
      spellcheck: false,
      autocomplete: "address-level2",
      errorMessage: {
        html: addressTownErrors
      } if model.townError or model.invalidCharAddressTown
    }) }}

    {{ govukInput({
      label: {
        text: "County"
      },
      id: "addressCounty",
      name: "addressCounty",
      classes: "govuk-!-width-one-half",
      value: model.addressCounty,
      spellcheck: false,
      autocomplete: "address-level1",
      errorMessage: {
        html: addressCountyErrors
      } if model.countyError or model.invalidCharAddressCounty
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      id: "addressPostcode",
      name: "addressPostcode",
      classes: "govuk-!-width-one-quarter",
      value: model.addressPostcode,
      spellcheck: false,
      autocomplete: "postal-code",
      errorMessage: {
        html: postcodeErrors
      } if model.postcodeError or model.invalidPostcodeError
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}

  </form>
{% endblock %}
