{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set postcodeErrors %}
  {% if model.postcodeError %}
    <p>Enter the postcode</p>
  {% elif model.invalidPostcodeError %}
    <p>Enter a valid postcode</p>
  {% endif %}
{% endset -%}

{% block content %}

  {% if model.addressError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter the building and street",
          href: "#addressLine1"
        } if model.addressError,
        {
          text: "Enter the town or city",
          href: "#addressTown"
        } if model.townError,
        {
          text: "Enter the county",
          href: "#addressCounty"
        } if model.countyError,
        {
          text: "Enter the postcode",
          href: "#postcode"
        } if model.postcodeError,
        {
          text: "Enter a valid postcode",
          href: "#postcode"
        } if model.invalidPostcodeError
      ]
    })}}
  {% endif %}


  <h1 class="govuk-heading-xl">What is your address</h1>

  <form method="post">

    {{ govukInput({
      label: {
        text: "Building and street"
      },
      id: "addressLine1",
      name: "addressLine1",
      classes: "govuk-!-width-two-thirds",
      value: addressLine1,
      spellcheck: false,
      autocomplete: "address-line1",
      errorMessage: {
        text: "Enter the building and street"
      } if model.addressError
    }) }}

    {{ govukInput({
      id: "addressLine2",
      name: "addressLine2",
      classes: "govuk-!-width-two-thirds",
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2</span>'
      },
      value: addressLine2,
      spellcheck: false,
      autocomplete: "address-line2"
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      id: "addressTown",
      name: "addressTown",
      classes: "govuk-!-width-one-half",
      value: addressTown,
      spellcheck: false,
      autocomplete: "address-level2",
      errorMessage: {
        text: "Enter the town or city"
      } if model.townError
    }) }}

    {{ govukInput({
      label: {
        text: "County"
      },
      id: "addressCounty",
      name: "addressCounty",
      classes: "govuk-!-width-one-half",
      value: addressCounty,
      spellcheck: false,
      autocomplete: "address-level1",
      errorMessage: {
        text: "Enter the county"
      } if model.countyError
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      id: "postcode",
      name: "postcode",
      classes: "govuk-!-width-one-quarter",
      value: postcode,
      spellcheck: false,
      autocomplete: "postal-code",
      errorMessage: {
        html: postcodeErrors
      } if model.postcodeError or model.invalidPostcodeError
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}

  </form>
{% endblock %}
