{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block content %}

  {% if model.meatBaitError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must select if you intend to use meat baits in your Larsen mate or Larsen pod traps.",
          href: "#meatbait-error"
        }
      ]
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "meatbait",
          name: "meatbait",
          fieldset: {
            legend: {
                text: "Do you intend to use meat baits in your Larsen mate or Larsen pod traps?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
          },
          errorMessage: {
            text: "You must select if you intend to use meat baits in your Larsen mate or Larsen pod traps."
          } if model.meatBaitError,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: model.meatBait === true
            },
            {
              value: "no",
              text: "No",
              checked: model.meatBait === false
            }
          ]
        }) }}

        <p class="govuk-body">You must provide an annual return on or before 31 January each year and tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if you used meat baits</li>
          <li>if you caught any non-target species</li>
          <li>what target species you caught and how many</li>
          <li>the trap location</li>
          <li>the type of trap used</li>
        </ul>

        <p class="govuk-body">You must provide an annual return even if you have not used meat baits or caught any target species</p>

        <p class="govuk-body">
          We will contact you by email one month before the expiry of the
          General Licences to remind you to submit your meat bait return. Please
          submit a return, even if you have not caught anything, on or before
          31 January.
        </p>

        {{ govukWarningText({
      text: "If you fail to provide a return we will remove or suspend your right to use meat baits",
      iconFallbackText: "Warning"
    }) }}

        {{ govukButton({
        text: "Continue",
        classes: "naturescot-forward-button"
    }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukAccordion({
      id: "meatBaitTrapExplanations",
      items: [
        {
          heading: {
            text: "What is a Larsen mate trap?"
          },
          content: {
            html: '' +
              '<img src="/assets/traps-larsen-mate.jpg" alt="A Larsen mate trap">' +
              '<p class="govuk-body-s">&copy; The Game &amp; Wildlife Conservation Trust</p>' +
              '<p class="govuk-body">' +
              '  A portable spring-operated cage-trap made up of two shell sections hinged along one' +
              ' edge. It sections are connected by one or more springs kept open by a split-rod/trip-perch' +
              ' (as made by Elgeeco, or an equivalent). When open (set) the minimum distance between two' +
              ' corners of the trap must be 39 cm. The trap must not shut tightly along the majority of' +
              '  its meeting edges.' +
              '</p>'          },
          expanded: false
        },
        {
          heading: {
            text: "What is a Larsen pod trap?"
          },
          content: {
            html: '' +
              '<img src="/assets/traps-larsen-pod.jpg" alt="A Larsen pod trap">' +
              '<p class="govuk-body-s">&copy; The Game &amp; Wildlife Conservation Trust</p>' +
              '<p class="govuk-body">' +
              '  A portable spring or gravity operated cage-trap. It has a single compartment with either' +
              ' one or two side or top-mounted, spring activated trap-doors that can be set ' +
              ' independently.' +
              '</p>'
          },
          expanded: false
        }
      ]
    })}}

    </div>
  </div>

{% endblock %}
