{% extends "_base.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Privacy Policy for Trap Registration </h1>

      <p class="govuk-body">This policy applies to the content of the Registration available at:</p>

      <p class="govuk-body"><a class="govuk-link" href="https://licensing.nature.scot/trap-registration/">https://licensing.nature.scot/trap-registration/</a></p>


      <h2 class="govuk-heading-m">Who collects your personal data</h2>

      <p class="govuk-body">The data controller is Scottish Natural Heritage known as NatureScot at:</p>

      <p class="govuk-body">Great Glen House<br>Leachkin Road<br>Inverness<br>IV3 8NW</p>

      <h2 class="govuk-heading-m">What personal data is collected and how it's used</h2>

      <p class="govuk-body">NatureScot will use the information from the Trap Registration application for its licensing functions, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Processing and issuing a Trap Registration</li>
        <li>monitoring compliance with licence conditions</li>
        <li>reports and returns</li>
      </ul>

      <p class="govuk-body">The personal information NatureScot processes will include your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>contact details</li>
        <li>postcode</li>
      </ul>

      <h2 class="govuk-heading-m">The legal basis for processing your personal data</h2>

      <p class="govuk-body">Processing your data is necessary for the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>performance of a task carried out in the public interest</li>
        <li>exercise of official authority vested in the data controller</li>
      </ul>

      <p class="govuk-body">The task is to conduct the functions in relation to licences as delegated by The Scottish Ministers to Scottish Natural Heritage under the Wildlife and Countryside Act 2018.</p>

      <h2 class="govuk-heading-m">Consent to process your data</h2>

      <p class="govuk-body">The processing of your data is not based on consent, you cannot withdraw it.</p>

      <h2 class="govuk-heading-m">Who NatureScot shares your personal data with</h2>

      <p class="govuk-body">We may share your information with third parties at certain stages of the Trap Registration licensing process.</p>

      <p class="govuk-body">We may do this to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check information you provide on a Trap Registration application</li>
        <li>monitor effects on protected species</li>
        <li>provide the service</li>
      </ul>

      <p class="govuk-body">We only share information when necessary and anonymously whenever possible.</p>

      <p class="govuk-body">The table shows the organisations NatureScot shares information with and why.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Organisation</th>
            <th scope="col" class="govuk-table__header">Sharing purpose</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Statutory nature conservation bodies</th>
            <td class="govuk-table__cell">Compliance, enforcement, licence assessment </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Scottish Government</th>
            <td class="govuk-table__cell">Compliance, enforcement, licence assessment</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Authorised enforcement agencies e.g. Police Scotland</th>
            <td class="govuk-table__cell">Compliance, enforcement activity</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode lookup service</th>
            <td class="govuk-table__cell">To return addresses against the postcode you enter</td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">We may make some information available where there's public interest in wildlife licensing and who it issued licences or registrations to. Information released may include, but is not limited to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your name or business name</li>
        <li>application, registration and licence details</li>
        <li>reports and returns</li>
      </ul>

      <p class="govuk-body">We will not release information for licensed activities that are sensitive or could harm people, species or habitats, for example names and addresses of individuals, locations of licensed activities.</p>

      <p class="govuk-body">We respect your personal privacy when responding to access to information requests. We only share information when necessary to meet the statutory requirements of the Environmental Information (Scotland) Regulations 2004 and Freedom of Information Act 2000.</p>

      <h2 class="govuk-heading-m">How long NatureScot holds personal data</h2>

      <p class="govuk-body">We will keep your personal data for seven years after the expiry of your licence or longer if stated in the licence conditions.</p>

      <p class="govuk-body">We will keep any feedback data captured in relation to developing or improving the applications for two years.</p>

      <h2 class="govuk-heading-m">What happens if you do not provide the data</h2>

      <p class="govuk-body">We will be unable to grant your Traps Registration license if you do not provide the data.</p>

      <h2 class="govuk-heading-m">Use of automated decision-making or profiling</h2>

      <p class="govuk-body">The information you provide is not used for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>automated decision making (a decision made by automated means without any human involvement)</li>
        <li>profiling (automated processing of personal data to learn certain things about you)</li>
      </ul>

      <h2 class="govuk-heading-m">Transfer of data outside the European Economic Area (EEA)</h2>

      <p class="govuk-body">We will not transfer your data outside the EEA.</p>

      <h2 class="govuk-heading-m">Your rights</h2>

      <p class="govuk-body">Find out about your <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" target="_blank">individual rights (opens in new tab) under the General Data Protection Regulation (GDPR), the Data Protection Act 2018.</a></p>

      <h2 class="govuk-heading-m">Complaints</h2>

      <p class="govuk-body">You have the right to <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/" target="_blank">make a complaint (opens in new tab)</a> to the Information Commissioner's Office at any time.</p>

      <p class="govuk-body">Our main NatureScot privacy Notices are available at: <a class="govuk-link" href="https://www.nature.scot/about-naturescot/access-information-and-services/access-information/privacy-notice">https://www.nature.scot/about-naturescot/access-information-and-services/access-information/privacy-notice</a></p>

      <p class="govuk-body">If you have any other questions about how NatureScot uses your personal data and your associated rights contact the Data Protection Manager at <a class="govuk-link" href="mailto:dpo@nature.scot">dpo@nature.scot</a> or:</p>

      <p class="govuk-body">Data Protection Officer<br>NatureScot<br>Battleby<br>Redgorton<br>Perth<br>PH1 3EW<br><a class="govuk-link" href="mailto:dpo@nature.scot">dpo@nature.scot</a></p>

    </div>
  </div>

{% endblock %}
