{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
        titleText: "Registration complete",
        html: "Your registration number is<br><strong>"+model.regNo+"</strong><br><br>" +
              "Expiry date<br><strong>"+model.expiryDate+"</strong>"
      }) }}

  <p class="govuk-body">We've sent you a confirmation email with details of your registration.</p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">You must understand and comply with the terms and conditions attached to the General Licences.</p>

  <p class="govuk-body">You must submit an annual return on or before 31 January each year if you have registered to use meat-baits.</p>

  <p class="govuk-body">
          Email:<br>
    <strong class="govuk-!-font-weight-bold">
      <a class="govuk-link" href="mailto: licensing@nature.scot"> licensing@nature.scot</a>
    </strong>
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/naturescot-licensing-trap-registration-feedback">
      What do you think of this service?
    </a>
    (takes 30 seconds)
  </p>
{% endblock %}
